div#logo {
	width: 90%;
	max-width: 512px;
	margin-top: 32px;
	margin-left: 50%;
	text-align: center;
	transform: translate(-50%, 0%);   
}
#logo img {
	width: 100%;
}
h1 {
	font-style: italic;
}
a {
	color: #000;
}